/data/sourcedata/gus
/data
/derivatives
*.toml

requirements.txt
/requirements
src/fuspredict.egg-info/dependency_links.txt
/src/fuspredict.egg-info
*__pycache__
*__init__.py
*.lock
/.claude
CLAUDE.md
decisions.md
/figures
/literature
notebook.md
todo.md
